body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #BCA37F;
  padding: 0px 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #BCA37F;
  text-decoration: none;
  font-size: 15px;           
  font-weight: 500;          
  letter-spacing: 0.5px;     
  padding: 8px 12px;        
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #EAC696;   
}         

.navbar span {
  color: #BCA37F;
  text-decoration: none;
}


.container {
	padding: 40px 60px;
}

.title {
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

.site-footer {
    background-color: transparent;
    color: #BCA37F;
    padding: 20px 0;
    margin-top: 40px;
    font-family: 'Georgia', serif;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

