.home-container {
    padding: 20px;
    background-color: #F1E7E7;
    font-family: 'Georgia', serif;
    min-height: 100vh;
    background: url("/static/img/background1.jpg");
    background-size: cover;
}

.top-section {
    background-color: hsla(25, 60%, 25%, 0.3);
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 8px;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.top-section p {
    color: dimgray;
}

.slider-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.book-card {
    width: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
}

.book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: none;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: skyblue;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow:first-child {
    left: 0;
}

.arrow:last-child {
    right: 0;
}

.bottom-section {
    display: flex;
    gap: 50px;
    padding: 40px;
    justify-content: center;
}

.reviews-section, .genres-section {
    width: 30%;
    background-color: hsla(200, 100%, 50%, 0.1); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 
      #113946 0px 0px 0px 3px,
      #F1E7E7 0px 0px 0px 6px,
      #FFFFFF 0px 0px 0px 9px,
      #113946 0px 0px 0px 12px,
      #F1E7E7 0px 0px 0px 15px;
}

.scrollable-box {
    height: 200px;
    overflow-y: auto;
}

#reviewsContainer.scrollable-box {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 5px;
    padding: 10px;
}

#genresContainer.scrollable-box {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
}

.review-card {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

button {
    margin-top: 10px;
    padding: 6px 10px;
    cursor: pointer;
}

.reviews-section h3, .genres-section h3 {
    text-align: center;
    border-bottom: 1px solid white; /* Alt çizgiyi beyaz yap */
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: saddlebrown;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    width: fit-content;
    text-align: left;
}

li {
    margin: 8px 0;
    border: 2px solid dimgray;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

li a{
    color: gray;
    text-decoration: none;
    font-size: 25px;
}

p strong {
    color: skyblue;
}

